<%- include('template/cabecera') %>
<body>
    <%-include('template/menu') %>    
    <div class="small-container">
        <div class="row row-2">
            <h2>Todos los productos</h2>
            <select>
                <option>Shorting</option>
                <option>Zapatos</option>
                <option>Camisas</option>
                <option>Pantalones</option>
            </select>
        </div>    
        <div class="row">
            <div class="col-4">
                <img src="img/product-1.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-2.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-3.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-4.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-5.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-6.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-7.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-8.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-9.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-10.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-11.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
            <div class="col-4">
                <img src="img/product-12.jpg" alt="" srcset="">
                <h4>Red Printend T-shirt</h4>
                <div class="raking">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50</p>
            </div>
        </div>
        <div class="page">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
        </div>
    </div>
    
    
    <!---fotter-->
    <%-include('template/footer') %>
    <script src="./js/scripts.js"></script>
</body>
</html>