<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Descargar App</h3>
                <p>Descarga para Android Ios</p>
                <div class="app-logo">
                    <img src="../../public/img/play-store.png" alt="" srcset="">
                    <img src="img/app-store.png" alt="" srcset="">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="img/logo-white.png" alt="" srcset="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, explicabo!</p>
            </div>
            <div class="footer-col-3">
                <h3>Uso en los enlaces</h3>
                <ul>
                    <li>Cupones</li>
                    <li>Cupones</li>
                    <li>Cupones</li>
                    <li>Cupones</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Redes Sociales</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copy">Copyright 2020 Pecho-Peludo</p>
    </div>
</div>