<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                    <img src="./img/logo.png" alt="" width="125px">
            </div>
            <nav>
                <ul id="menuitems">
                    <li><a href="/">Home</a></li>
                    <!---Haci se redirecciona mediante rutas--->
                    <li><a href="/productos">Productos</a></li>
                    <li><a href="/personas">Detalle Productos</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contacto</a></li>
                    <li><a href="">Cuenta</a></li>
                </ul>
            </nav>
            <img src="img/cart.png" alt="" width="30px" height="30px">
            <img src="img/menu.png" alt="" srcset="" class="menu-icono" onclick="menutoggle()">
        </div>
    </div>
</div>